PORT=3000
MONGO_URI=mongodb://localhost:27017/task-manager
CLOUDINARY_CLOUD_NAME=cloudname
CLOUDINARY_API_KEY=cloudinaryapikey
CLOUDINARY_API_SECRET=123
APP_URL=http://localhost:3000
# JWT Configuration
JWT_SECRET=23
JWT_EXPIRES_IN=7d